In [1]:
from util import *

/Users/ahmed.omar/opt/anaconda3/lib/python3.8/site-packages/pandas/core/computation/expressions.py:20: UserWarning: Pandas requires version '2.7.3' or newer of 'numexpr' (version '2.7.1' currently installed).
  from pandas.core.computation.check import NUMEXPR_INSTALLED

In [13]:
YouTubeTranscriptApi.list_transcripts('lH7vAzmmB-M')

In [35]:
## DOWNLOAD THE VIDEO SUBTITLES
sentence_df = pd.DataFrame()

response = get_response_playlist('PLO72qiQ-gJuFzpCgQcsdd4lkulqeeBMC3') # NOS Nieuws van de Week

videos = get_videos_playllist(response )

columns= ['episode','start', 'text']

last_10_videos = videos[:10]

# # for episode in videos: 
subtitle = get_subtitle('8SUyBNbie0s')[columns]

sentence_df = pd.concat([sentence_df,subtitle])
    
# sentence_df.to_csv('PLAeu18HndGgBK_WLjNjgJigcmVO3XDSMY.csv',index=False)

{'8SUyBNbie0s': '2024-05-15T13:46:07Z',
 'N6JTI9v_6xg': '2024-05-08T13:49:45Z',
 '1PpRycJ4ZZQ': '2024-05-01T13:53:39Z',
 'Ln4ASXeuWyU': '2024-04-24T13:54:38Z',
 'tTuXTayL4oE': '2024-04-17T13:39:04Z',
 'Auil2xhjM-g': '2024-04-10T13:43:59Z',
 'R5A-EIzHYQQ': '2024-04-03T14:05:37Z',
 'M3-nsu0cJhM': '2024-03-27T14:18:58Z',
 '-r1oAzRrRfg': '2024-03-20T15:12:02Z',
 'Jr-1c_mAy_A': '2024-03-13T14:56:16Z',
 'MYvBJg1WdI8': '2024-03-06T14:43:40Z',
 'aG-vFkXAK60': '2024-02-28T15:28:10Z',
 'pNPIOBNUQT4': '2024-02-21T15:04:07Z',
 'bCsWEF3a_UE': '2024-02-14T14:50:35Z',
 'G-Qa60mY-7k': '2024-02-07T15:26:45Z',
 'tt_AuLL3_O0': '2024-01-31T14:56:08Z',
 'yMXhdXYJRrM': '2024-01-24T15:15:25Z',
 '69sijZ1xDjI': '2024-01-24T14:46:15Z',
 'SFhk7USSQTI': '2024-01-17T14:17:43Z',
 'vnO6ri04-zQ': '2024-01-10T15:28:37Z',
 'Hr6jtLrwgKQ': '2024-01-03T14:56:55Z',
 'cLmx5KFZWOI': '2023-12-20T14:59:58Z',
 'Slk9th1UDF8': '2023-12-13T15:15:22Z',
 'vwJGYgPJsoY': '2023-12-06T15:03:10Z',
 'cAdUzf5PwIg': '2023-11-29T14:59:24Z',
 'ffdDgxreluQ': '2023-11-22T14:32:57Z',
 'faj42RKwmss': '2023-11-15T15:20:08Z',
 'N2c--_q83gc': '2023-11-08T15:05:50Z',
 'rzmTE-gHcPw': '2023-11-01T15:00:03Z',
 'SzTOBjoeZeU': '2023-10-25T14:32:48Z',
 'iC_OJp6v8AM': '2023-10-18T14:32:15Z',
 'DPZx6L16h2U': '2023-10-11T14:19:40Z',
 'OkzPVPOqzPY': '2023-10-04T14:15:39Z',
 'jdvhFixkoWk': '2023-09-27T14:14:27Z',
 'IoVCXTffMaM': '2023-09-20T14:11:22Z',
 'HSosweYAnsI': '2023-09-13T14:15:25Z',
 '_Mq_mtAJn1Q': '2023-09-06T13:57:06Z',
 'GyuZuu7D_XU': '2023-07-05T15:51:03Z',
 'Rzg5tQZx46I': '2023-06-28T13:36:19Z',
 'YXCYUtQmE-w': '2023-06-21T15:00:32Z',
 'IzMLYxqJ1oU': '2023-06-14T14:05:46Z',
 'Qc63LE9R5Hw': '2023-06-07T13:51:20Z',
 'Md-eoSXHRlU': '2023-05-31T13:59:39Z',
 'FNASvhncqRc': '2023-05-24T14:17:04Z',
 '7RiAh7n8tQg': '2023-05-10T14:11:46Z',
 'TOCqnCTcFwc': '2023-05-03T13:51:30Z',
 'zRMI9Ru0qoM': '2023-04-26T14:11:52Z',
 'X29_FULOJUM': '2023-04-19T14:10:52Z',
 'hwHCnwVIyrc': '2023-04-12T14:03:17Z',
 '-GficXgHcvQ': '2023-04-05T13:42:04Z'}

In [45]:
get_subtitle('8SUyBNbie0s')

,text,start,duration,episode
0,"Dit is het Nieuws van de Week,\neen journaal v...",9.038,4.654,https://www.youtube.com/watch?v=8SUyBNbie0s
1,En ik ben Afke Boven.,14.115,1.616,https://www.youtube.com/watch?v=8SUyBNbie0s
2,In dit journaal leggen we uit waarom mensen\ng...,15.846,5.000,https://www.youtube.com/watch?v=8SUyBNbie0s
3,"We vertellen over Joost Klein, die met zijn\nE...",21.538,4.885,https://www.youtube.com/watch?v=8SUyBNbie0s
4,...aan de finale van het Songfestival.,26.500,1.962,https://www.youtube.com/watch?v=8SUyBNbie0s
...,...,...,...,...
146,...waarom er demonstraties bij universiteiten\...,603.154,3.692,https://www.youtube.com/watch?v=8SUyBNbie0s
147,Dat Joost Klein niet meedeed aan de finale van...,607.231,5.115,https://www.youtube.com/watch?v=8SUyBNbie0s
148,En we legden uit waarom\nkermiseigenaren het z...,612.615,4.116,https://www.youtube.com/watch?v=8SUyBNbie0s
149,Volgende week is er weer een journaal van de\n...,617.269,3.616,https://www.youtube.com/watch?v=8SUyBNbie0s
150,Tot dan!\n,621.346,0.923,https://www.youtube.com/watch?v=8SUyBNbie0s

In [41]:
if  subtitle is not None:
    print(1)

1

In [18]:
## SEE COMMON WORDS 

words = sentence_df.text.apply(remove_punc).str.lower().str.split()

words_list = []
## Convert list column to a list
for i in words: words_list += i 

words_counter = Counter(words_list)

In [19]:
count_df = pd.DataFrame(
    {
        'word':words_counter.keys(),
        'number':words_counter.values(),
    })

In [23]:
count_df.sort_values('number',ascending=False).head(100)

         word  number
5          de      90
2         het      38
110       dat      38
13         en      37
4         van      33
..        ...     ...
217  gehouden       3
8    journaal       3
218    zweden       3
129     omdat       3
397        mn       3

[100 rows x 2 columns]